*{
     font-family: 'Work Sans', sans-serif;
}

/* Header  style */

.header{
    background-image: url(../images/banner/banner1.png);
    background-size: cover;
    background-position: center;
    left: 1600px;
    height: 600px;  
    
}

.banner-title{
    font-weight: 900;
    font-size: 44px;
    text-align: : center right;
    background-size: cover;
    margin-left: 700px;
    margin-top: 0px


}
.banner{
padding-top: 150px;

}

.banner-descriptaion{
    width: 494px;
    height: 78px;left: 876px;
    top: 60px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center right;
    margin-left: 700px;
    margin-top: 50px;  
}
.button-primary{
    margin-left: 700px;
    width: 150px;
    height: 50px;
    left: 1210px;
    top: 580px;
    background-color: #fd6e0a;
    color: #ffff;
    border-radius: 5px;
    font-weight: 700;
    border: none;
}


/* failures style */

.failures{
display: flex;
    
}    
.title{
text-align: center left;
margin-bottom: 50px;

}

.titile-descriptaion{
    
}
/* skill style */
.what-i-do{
    margin-top: 200px;
    margin-bottom: 200px;
    text-align: center;
    margin-left: 180px;

}
.plan-container{
    display: flex;
    gap: 24px;
    
}
.plan-title{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 30px;

}
.plan{
    
    border-radius: 5px;
    padding: 30px;
}
.section-title{
margin-right: 120px;   
 
}

/* skill style */

.contact .section-title{
    text-align: center;
}
.contact{
    display: flex;
    gap: 100px;
    background-color: #151414;
    padding: 130px 200px;
    color: #f8f8f8;
}
.contact .section-title{
    text-align: left;
}

.contact input{
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    padding:18px 30px;
}
.contact a{
    text-decoration: none;
}
.contact img{
    margin-top: 20px;
}
.button{
    color: #ffffff;
    background-color: #fd6e0a;
    width: 150px;
    height: 50px;
    font-weight: 700px;
}
